.Products-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-comprar {
}
.container-product {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}
.btn-comprar {
}
